
:root {
  --primary-color: #ff3b3b;
  --secondary-color: #ff6b6b; 
  --text-color: #333;
  --shadow-color: #934c4c;
  --highlight-color: #aaaaaaa9;
}

body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
}

.app {
  display: flex;
  height: 100vh;
} 

.w-46{
  width: 100%;
  padding-left: 30px;
  margin-top: 83px;
  height:85vh;
}


.search-container {
  margin-top: 100px;
  width: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.search-box {
  display: flex;
  margin-bottom: 2rem;
}

input {
  flex-grow: 1;
  padding: 1rem; 
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 5px 5px 10px var(--highlight-color);
}

.search-button{
  padding: 0 2rem;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: -2px;
  border: none;
  border-radius: 1rem;
  background-color: var(--shadow-color);
  color: white;
  cursor: pointer;
  box-shadow: 5px 5px 10px var(--highlight-color);
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: var(--secondary-color);
}

.results-box {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 5px 5px 10px var(--highlight-color);
}

.results-box h2 {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-top: 0;
}

.results-list ul {
  list-style-type: none;
  padding: 0;
}

.results-list li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px var(--shadow-color),
              3px 3px 5px var(--highlight-color);
}
.results-list li button{
  background-color: var(--shadow-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .w-46{
    display: none;
  }
  .app {
    flex-direction: column;
  }

  .search-container {
    width: 100%;
    margin-left: -1rem;
  }

  .results-box {
    margin-top: 2rem;
  }
  .map-script{
    display: none;
  }
}